
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

body {
  font-family: "Open Sans", sans-serif;

  margin: 0;
  background-color: #fff7d4;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #ffec9e;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.navbar h1 {
  padding: 8px 16px;
  background-color: #4c3d3d;
  color: white;
  text-align: center;
  margin-top: 0;
  border-radius: 6px;
}
ul li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #c1b619;
  color: white;
}

li a:hover:not(.active) {
  background-color: #4c3d3d;
  color: white;
}
.navbar span {
  color: #c1b619;
}
#collapse-icon {
  height: 20px;
  width: 20px;
  padding-top: 5px;
}
.dashboard {
  margin-left: 15%;
  padding: 1px 16px;
}
#dash-header {
  background-color: #4c3d3d;
  color: white;
  padding: 10px;
  margin-top: 0;
  border-radius: 6px;
}
#dash-header span {
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
}
#dash-content {
  margin-top: 16px;
  padding: 10px;
  border: 1px solid #4c3d3d;
  border-radius: 6px;
  background-color: #ffec9e;
}

#ProductTable {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#ProductTable thead tr {
  background-color: #c1b619;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

#ProductTable th,
#ProductTable td {
  padding: 12px 15px;
}

#ProductTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

#ProductTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

#ProductTable tbody tr:last-of-type {
  border-bottom: 2px solid #c1b619;
}

#dash-details {
  margin-top: 16px;
  padding: 10px;
  border: 1px solid #4c3d3d;
  border-radius: 6px;
  background-color: #ffec9e;
}
#dash-content img {
  height: 20px;
  width: 20px;
  padding: 5px;
  border-radius: 20%;
}
#dash-content img:hover {
  background-color: #ffd95a;
}
#dash-content img:active {
  background-color: #c07f00;
}

.card {
  display: inline-block;
  vertical-align: top;
  height: auto;
  min-height: 100px;
  padding: 15px 25px;
  box-sizing: border-box;
  border-radius: 10%;
  background: #fff7d4;
  width: 24%;
}
