body {
    /* background-color: #779ecb; */
    /* background: linear-gradient(#464646f6 , #f1ed03dc 220%);  */
    background-color: white;
    width: 100%;
    height: 100vh;
    /* background-color: #92a4c1; */
    /* background: linear-gradient(to bottom, #f8f7f7 30%, #779ecb 60%); */
}

.chat-container {
    width: 600px;
    height: 400px;
    margin: 50px auto;
    border: 2px solid rgba(148, 146, 146, 0.437);
    padding: 10px;
    background: rgba(16, 16, 16, 0.448) ;
    border-radius: 20px;
}

.chat-messages {
    height: 70%;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
   padding: 10PX;
   background: rgba(255, 255, 0, 0.775) ;
    border-radius: 40px;
    border: 2px solid rgba(130, 129, 129, 0.36);

}

.chat-messages p {
    margin: 5px;
}

#message-input {
    width: calc(100% - 70px);
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: transparent;
    color: #0b0b0b;
}

button {
    padding: 5px 10px;
    margin-top: 15px;
    background-color: transparent;
    border-radius: 10px;
    margin-right: 250px;
    /* justify-content: center; */
}

.message {
    width: 100%;
    height: 20%;
    margin-top: 5px;
    padding: 10px;
}