* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: grid;
    height: 100vh;
    place-items: center;
    background: #f4f4f4;
}

.container {
    width: 400px;
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.star-widget {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.star-widget input[type="radio"] {
    display: none;
}

.star-widget label {
    font-size: 24px;
    color: #444;
    cursor: pointer;
}

.star-widget label:hover,
.star-widget input[type="radio"]:checked ~ label {
    color: #ffc107;
}

form header {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

form .textarea textarea {
    height: 100px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    resize: none;
    font-size: 16px;
}

form .btn {
    text-align: center;
    margin-top: 20px;
}

form .btn button {
    padding: 10px 20px;
    background-color: rgb(255, 255, 0);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

form .btn button:hover {
    background-color: rgba(192, 192, 5, 0.882);
}