
.dark-mode {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  body{
    background-color: rgb(255, 255, 255);
}

h1 {
   
    padding-top: 10px;
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h4 {
  
    padding-top: 1px;
    padding-left: 250px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


input {
    background-color: rgb(255, 255, 255);
    width: 60%;
    margin-left: 12%;
    font-size: 18px;
    padding: 16px 16px ;
    border-radius: 10px;

    margin-bottom: 15px;
    margin-left: 250px;
}
textarea {
    background-color: rgb(255, 255, 255);
    width: 60%;
    margin-left: 12%; 
    font-size: 18px;
    padding: 16px 16px ;
    border-radius: 10px;
  
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 250px;
}

input:focus-within {
   outline: none;  /* to remove line around box*/
    border-color: rgb(0, 0, 0);
    border-width: 3px;

}

textarea:focus-within {   /* when clik on it*/
    outline: none; /* to remove line around box*/
    border-color: rgb(0, 0, 0);
    border-width: 3px;
 
}

button {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
   
    font-size: 22px;
    padding: 10px 12px; /* Adjusted for centering "Send" text */
    /*to center th botton*/
    text-align: center;
    display: flex;
    margin: auto;
    /*------*/
    transition: all 1s ease; 
  }
  
  button:hover {
    color: yellow;
    background-color: white;
  }
  